NODE_ENV=development
PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_NAME=neobank_db
DB_USER=neobank_user
DB_PASSWORD=neobank_pass
JWT_SECRET=neobank_super_secret_change_me
JWT_EXPIRES_IN=24h
BCRYPT_SALT_ROUNDS=10
